<html>
	<head>
		<title>Send Mail from Local</title>
	</head>
	<body>
		Hi,<br/>
		<br/>
		This is a test mail.<br/>
		Please check the attachment file.<br/>
		<br/>
		Regards,<br/>
		${fname} ${lname}
	</body>
</html>